<html style="'background:#f3f3f3;">
    <body  style="background:#f3f3f3; margin:0px; padding: 10px;" width='100%'>

        <table style="background:#FFFFFF; padding: 3px; margin: 10px;" width='97%'>
            <tr>
                <td>
                    <table background="https://www.dpaw.wa.gov.au/templates/dpaw/images/top-bg.gif" style='background: #FFFFFF;' width="100%">
                        <tr>
                            <td>
                                <img height='77' width='474' style='' id="Rottnest Logo" 
                                src="{% include 'mooringlicensing/emails/rottnest-island-logo-base64.html' %}">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style='height: 600px; padding:11px;' valign='top' >
                    {% block content_body %}
                    {% endblock %}
                </td>
            </tr>
        </table>
    </body>
</html>
