{%  extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{%  block content_body %}
<p>Dear {{ recipient.first_name }} {{ recipient.last_name }},</p>

<p>You are invited to apply for a mooring licence based on your current Waiting List Allocation {{ approval.lodgement_number }}.</p>
<p>You are required to submit your application within {{ application_period }} number of days and submit any additional documents within {{ documents_period }} number of days thereafter.</p>
{% if message_details %}
Details:
{{ message_details }}
{% endif %}
<p>Please click <a href="{{ url }}">here</a> to access the application.</p>

{% include "mooringlicensing/emails/signature-rottnest.html" %}
{%  endblock %}
