{%  extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{%  block content_body %}
<p>Dear {{ recipient.first_name }} {{ recipient.last_name }},</p>
<p>The following admission fees have been paid:</p>

{% for arrival in summary %}
    <p>Arrival date: {{ arrival.arrival_date }}</p>
    <p>Number of adults (12 and over):</p>
    <p>- Landing: {{ arrival.adult.landing }}</p>
    <p>- Extended stay: {{ arrival.adult.extended_stay }}</p>
    <p>- Not landing: {{ arrival.adult.not_landing }}</p>
    <p>- Approved events: {{ arrival.adult.approved_events }}</p>

    <p>Number of children (4-12)</p>
    <p>- Landing: {{ arrival.child.landing }}</p>
    <p>- Extended stay: {{ arrival.child.extended_stay }}</p>
    <p>- Not landing: {{ arrival.child.not_landing }}</p>
    <p>- Approved events: {{ arrival.child.approved_events }}</p>
{% endfor %}
    <p>Please find attached the DCV permit and the invoice for the payment.</p>

    {% include "mooringlicensing/emails/signature-rottnest.html" %}
{%  endblock %}
