{%  extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{%  block content_body %}
Dear {{ endorser.first_name }} {{ endorser.last_name }},

Your endorsement for an Authorised User Permit application submitted by {{ applicant.first_name }} {{ applicant.last_name }} for your mooring {{ mooring_name }} is due by {{ due_date }}.

Please click <a href="{{ endorse_url }}">here</a> if you want to endorse the application.
Please click <a href="{{ decline_url }}">here2</a> if you want to decline the application.

Please click <a href="{{ proposal_url }}">here</a> if you want to view the application details before endorsing or declining.

{% include "mooringlicensing/emails/signature-rottnest.html" %}
{%  endblock %}
