{%  extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{%  block content_body %}
    Dear {{ recipient.first_name }} {{ recipient.last_name }},
    Your {{ proposal.description }} {{ proposal.lodgement_number }} requires amendment.
    {% if reason %}
    Details:
        <p>Amendment Reason: {{ reason }}</p>
        {% if amendment_request_text %}
        <p>Amendment details: <br> {{ amendment_request_text }}</p>
        {% endif %}
    {% endif %}
    Please click <a href="{{ url }}">here</a> to access the application.

    {% include 'mooringlicensing/emails/signature-rottnest.html' %}
{% endblock %}
