{%  extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{%  block content_body %}
Dear {{ recipient.first_name }} {{ recipient.last_name}},

{% if decision == 'approved' %}
    {% if payment_url %}
        <p>Your authorised user application {{ proposal.lodgement_number }} has been conditionally approved pending your payment of fees. Please see attached documents for more details.
        {% if stickers_to_be_returned|length > 0 %}
        <p>Please return sticker<br />
            {% for sticker in stickers_to_be_returned %}
            {{ sticker.number }}<br />
            {% endfor %}
        <p>of your old vessel to the Rottnest Island Authority.</p>
        {% endif %}
        <p>The new sticker(s) for your vessel will be mailed to you once your payment has been received. Please click <a href="{{ payment_url }}">here</a> to pay the fees for your authorised user permit.</p>
        {% if details %}
            <p>Details: {{ details }}</p>
        {% endif %}
    {% else %}
        <p>Your authorised user application {{ proposal.lodgement_number }} has been approved. Please see attached document for more details.</p>
        {% if stickers_to_be_returned|length > 0 %}
        <p>Please return sticker<br />
            {% for sticker in stickers_to_be_returned %}
            {{ sticker.number }}<br />
            {% endfor %}
        <p>of your old vessel to the Rottnest Island Authority.</p>
        {% endif %}
        <p>The new sticker(s) for your vessel will be mailed to you in the coming days.</p>
        {% if details %}
            <p>Details: {{ details }}</p>
        {% endif %}
    {% endif %}
{% endif %}

{% if decision == 'declined' %}
    <p>Your authorised user application {{ proposal.lodgement_number }} has been declined.</p>
    {% if details %}
        <p>Details: {{ details }}</p>
    {% endif %}
{% endif %}

{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
