{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
<p>Your compliance with requirement {{ compliance.lodgement_number }} for licence/permit {{ compliance.approval.lodgement_number }} due on {{ due_date }} has been submitted successfully.</p>
<p>You will receive a notification email when your submission has been approved or when additional information is required.</p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{%  endblock %}
