{% extends 'mooringlicensing/base.html' %}

{% block content %}
    <style>
        .debug-box {
            margin: 0 0 0 3em;
            background: lightgray;
            padding: 0.5em;
        }
        .row {
            margin: 0 0 1em 0;
        }
    </style>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-header">
                <h3 class="panel-title">
                    Reports
                </h3>
            </div>
            <div class="panel-body collapse show">
                <div class="row form-group">
                    <div class="col-sm-12">
                    {% if message %}
                    <div class="alert alert-success">{{message}}</div>
                    {% else %}
                    <div class="alert alert-info">Email reports will be sent to the requesting user some time after the request has been made.</div>
                    {% endif %}
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Format</label>
                    <div class="col-sm-6">
                        <select id="format_select" name="format" class="form-control">
                            <option value="excel">Excel</option>
                            <option value="csv">CSV</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label"># Records for Report</label>
                    <div class="col-sm-6">
                        <input id="num_records" name="num_records" type="number" value=100000 max=500000 min=1 class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Report Type</label>
                    <div class="col-sm-6">
                        <select id="report_select" onchange="selectReport()" class="form-control">
                            <option value="proposal_report">Proposals</option>
                            <option value="approval_report">Approvals</option>
                            <option value="compliance_report">Compliance</option>
                            <option value="waiting_list_report">Waiting List</option>
                            <option value="mooring_report">Moorings</option>
                            <option value="dcv_permit_report">DCV Permits</option>
                            <option value="dcv_admission_report">DCV Admissions</option>
                            <option value="sticker_report">Stickers</option>
                            <option value="system_user_report">System Users</option>
                            <option value="invoice_report">Invoice Report</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <form class="report_form" id="proposal_report" method="POST" onsubmit="submitReport('proposal_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Proposal Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Proposal Type</label>
                        <div class="col-sm-6">
                        <select class="proposal_field form-control" id="proposal_type_select" name="type">
                            <option value="all">All</option>
                            {% for i in proposal_type_options %}
                                <option value="{{i.code}}">{{i.description}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Proposal Category</label>
                        <div class="col-sm-6">
                        <select class="proposal_field form-control" id="proposal_category_select" name="category">
                            <option value="all">All</option>
                            {% for i in proposal_category_options %}
                                <option value="{{i.code}}">{{i.description}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Proposal Status</label>
                        <div class="col-sm-6">
                        <select class="proposal_field form-control" id="proposal_status_options" name="status">
                            <option value="all">All</option>
                            {% for i in proposal_status_options %}
                                <option value="{{i.code}}">{{i.description}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Lodged From</label>
                        <div class="col-sm-3">
                        <input class="proposal_field form-control" type="date" id="proposal_lodged_from" name="lodged_on_from">
                        </div>
                        <label class="col-sm-3 control-label">Lodged To</label>
                        <div class="col-sm-3">
                        <input class="proposal_field form-control" type="date" id="proposal_lodged_to" name="lodge_on_to">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <button class="btn btn-primary"
                            id="export_proposal" 
                            type="submit" 
                            name="export_model" 
                            value="proposal" 
                            title="Email Proposals Report">
                            Email Proposals Report
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="approval_report" method="POST" onsubmit="submitReport('approval_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Approval Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Approval Type</label>
                        <div class="col-sm-6">
                            <select class="approval_field form-control" id="approval_type_select" name="type">
                                <option value="all">All</option>
                                {% for i in approval_type_options %}
                                    <option value="{{i.code}}">{{i.description}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Approval Status</label>
                        <div class="col-sm-6">
                            <select class="approval_field form-control" id="approval_status_select" name="status">
                                <option value="all">All</option>
                                {% for i in approval_status_options %}
                                    <option value="{{i.code}}">{{i.description}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Issued From</label>
                        <div class="col-sm-3">
                        <input class="approval_field form-control" type="date" id="approval_issued_from" name="issued_from">
                        </div>
                        <label class="col-sm-3 control-label">Issued To</label>
                        <div class="col-sm-3">
                        <input class="approval_field form-control" type="date" id="approval_issued_to" name="issued_to">
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary"
                            id="export_approval" 
                            type="submit" 
                            name="export_model" 
                            value="approval" 
                            title="Email Approvals Report">
                            Email Approvals Report
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="compliance_report" method="POST" onsubmit="submitReport('compliance_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Compliance Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Compliance Status</label>
                        <div class="col-sm-6">
                        <select class="compliance_field form-control" id="compliance_status_select" name="status">
                            <option value="all">All</option>
                            {% for i in compliance_status_options %}
                                <option value="{{i.code}}">{{i.description}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Lodged From</label>
                        <div class="col-sm-3">
                        <input class="compliance_field form-control" type="date" id="compliance_lodged_from" name="lodged_on_from">
                        </div>
                        <label class="col-sm-3 control-label">Lodged To</label>
                        <div class="col-sm-3">
                        <input class="compliance_field form-control" type="date" id="compliance_lodged_to" name="lodged_on_to">
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary"
                            id="export_compliance" 
                            type="submit" 
                            name="export_model" 
                            value="compliance" 
                            title="Email Compliances Report">
                            Email Compliances Report
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="waiting_list_report" method="POST" onsubmit="submitReport('waiting_list_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Waiting List Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Waiting List Bay</label>
                        <div class="col-sm-6">
                        <select class="waiting_list_field form-control" id="waiting_list_bay_select" name="bay">
                            <option value="all">All</option>
                            {% for i in mooring_bay_options %}
                                <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Waiting List Status</label>
                        <div class="col-sm-6">
                        <select class="waiting_list_field form-control" id="waiting_list_status_select" name="status">
                            <option value="all">All</option>
                            {% for i in approval_status_options %}
                                <option value="{{i.code}}">{{i.description}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Max Vessel Length</label>
                        <div class="col-sm-6">
                        <input class="waiting_list_field form-control" id="waiting_list_max_vessel_length" type="number" min=0 name="max_vessel_length">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Max Vessel Draft</label>
                        <div class="col-sm-6">
                        <input class="waiting_list_field form-control" id="waiting_list_max_vessel_draft" type="number" min=0 name="max_vessel_draft">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Issued From</label>
                        <div class="col-sm-3">
                        <input class="waiting_list_field form-control" type="date" id="waiting_list_issued_from" name="issued_from">
                        </div>
                        <label class="col-sm-3 control-label">Issued To</label>
                        <div class="col-sm-3">
                        <input class="waiting_list_field form-control" type="date" id="waiting_list_issued_to" name="issued_to">
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary"
                            id="export_waiting_list" 
                            type="submit" 
                            name="export_model" 
                            value="waiting_list" 
                            title="Email Waiting List Report">
                            Email Waiting List Report
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="mooring_report" method="POST" onsubmit="submitReport('mooring_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Mooring Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Mooring Bay</label>
                        <div class="col-sm-6">
                        <select class="mooring_field form-control" id="mooring_bay_select" name="bay">
                            <option value="all">All</option>
                            {% for i in mooring_bay_options %}
                                <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Mooring Status</label>
                        <div class="col-sm-6">
                        <select class="mooring_field form-control" id="mooring_status_select" name="status">
                            <option value="all">All</option>
                            {% for i in mooring_status_options %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary"
                            id="export_mooring" 
                            type="submit" 
                            name="export_model" 
                            value="mooring" 
                            title="Email Moorings Report">
                            Email Moorings Report
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="dcv_permit_report" method="POST" onsubmit="submitReport('dcv_permit_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">DCV Permit Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Organisation</label>
                        <div class="col-sm-6">
                        <input class="dcv_permit_field form-control" id="dcv_permit_organisation" name="organisation">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">DCV Permit Seasons</label>
                        <div class="col-sm-6">
                        <select class="dcv_permit_field form-control" id="dcv_permit_season_select" name="season">
                            <option value="all">All</option>
                            {% for i in dcv_permit_fee_seasons %}
                                <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary"
                            id="export_dcv_permit" 
                            type="submit" 
                            name="export_model" 
                            value="dcv_permit" 
                            title="Email DCV Permits Report">
                            Email DCV Permits Report
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="dcv_admission_report" method="POST" onsubmit="submitReport('dcv_admission_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">DCV Admission Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Organisation</label>
                        <div class="col-sm-6">
                        <input class="dcv_admission_field form-control" id="dcv_admission_organisation" name="organisation">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Lodged From</label>
                        <div class="col-sm-3">
                        <input class="dcv_admission_field form-control" type="date" id="dcv_admission_lodged_from" name="lodged_on_from">
                        </div>
                        <label class="col-sm-3 control-label">Lodged To</label>
                        <div class="col-sm-3">
                        <input class="dcv_admission_field form-control" type="date" id="dcv_admission_lodged_to" name="lodged_on_to">
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary"
                            id="export_dcv_admission" 
                            type="submit" 
                            name="export_model" 
                            value="dcv_admission" 
                            title="Email DCV Admissions Report">
                            Email DCV Admissions Report
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="sticker_report" method="POST" onsubmit="submitReport('sticker_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Sticker Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Sticker Status</label>
                        <div class="col-sm-6">
                        <select class="sticker_field form-control" id="sticker_status_select" name="status">
                            <option value="all">All</option>
                            {% for i in sticker_status_options %}
                                <option value="{{i.id}}">{{i.display}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Sticker Seasons</label>
                        <div class="col-sm-6">
                        <select class="sticker_field form-control" id="sticker_season_select" name="season">
                            <option value="all">All</option>
                            {% for i in sticker_fee_seasons %}
                                <option value="{{i.start_date}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary"
                            id="export_sticker" 
                            type="submit" 
                            name="export_model" 
                            value="sticker" 
                            title="Email Stickers Report">
                            Email Stickers Report
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="system_user_report" method="POST" onsubmit="submitReport('system_user_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">System Users Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Active Users</label>
                        <div class="col-sm-6">
                        <input class="system_user_field form-check-input" id="system_user_active" name="active" type="checkbox">
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary"
                            id="export_system_user" 
                            type="submit" 
                            name="export_model" 
                            value="system_user" 
                            title="Email System Users Report">
                            Email System Users Report
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="invoice_report" method="POST" onsubmit="submitReport('invoice_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Invoices Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Fee Source Type</label>
                        <div class="col-sm-6">
                        <select class="invoice_field form-control" id="invoice_fee_source_type_select" name="invoice_fee_source_type">
                            <option value="all">All</option>
                            {% for i in invoice_fee_source_type_select %}
                                <option value="{{i.code}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-6">
                        <select class="invoice_field form-control" id="invoice_status_select" name="invoice_status_select">
                            <option value="all">All</option>
                            {% for i in invoice_status_select %}
                                <option value="{{i.code}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary"
                            id="export_invoice" 
                            type="submit" 
                            name="export_model" 
                            value="invoice" 
                            title="Email Invoices Report">
                            Email Invoices Report
                        </button>
                    </div>
                </div>
            </div>
        </form>
        
    </div>

    <script>
        function getFilters(form_id) {
            var field_class = form_id.replace("_report","_field");
            var fields = document.getElementsByClassName(field_class);
            var filters = Object();
            Array.from(fields).forEach(field => {
                filters[field.name] = field.value;
                if (field.type == 'checkbox') {
                    filters[field.name] = field.checked;
                }
            });
            var input = document.createElement('input');
            input.setAttribute('name', "filters");
            input.setAttribute('value', JSON.stringify(filters));
            input.setAttribute('type', "hidden");
            return input;
        }

        function submitReport(form_id) {
            var form = document.getElementById(form_id);
            var format = document.getElementById('format_select');
            format.setAttribute("hidden", true);
            var num_records = document.getElementById('num_records');
            num_records.setAttribute("hidden", true);
            form.appendChild(format);
            form.appendChild(num_records);
            form.appendChild(getFilters(form_id));
        }

        function selectReport() {
            var report_forms = document.getElementsByClassName("report_form");
            Array.from(report_forms).forEach(report_form => {
                report_form.setAttribute("style","display: None");
            });
            document.getElementById(document.getElementById("report_select").value).setAttribute("style","display: block");
        }
    </script>

{% endblock %}

