{% extends 'mooringlicensing/base.html' %}

{% block content %}
    <style>
        .debug-box {
            margin: 0 0 0 3em;
            background: lightgray;
            padding: 0.5em;
        }
        .row {
            margin: 0 0 1em 0;
        }
    </style>
    <div class="container">
        {{message}}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <button 
                    id="export_proposal" 
                    type="submit" 
                    name="export_model" 
                    value="proposal" 
                    title="Email Proposals Report">
                    Email Proposals Report
                </button>
            </div>
        </form>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <button 
                    id="export_approval" 
                    type="submit" 
                    name="export_model" 
                    value="approval" 
                    title="Email Approvals Report">
                    Email Approvals Report
                </button>
            </div>
        </form>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <button 
                    id="export_compliance" 
                    type="submit" 
                    name="export_model" 
                    value="compliance" 
                    title="Email Compliances Report">
                    Email Compliances Report
                </button>
            </div>
        </form>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <button 
                    id="export_waiting_list" 
                    type="submit" 
                    name="export_model" 
                    value="waiting_list" 
                    title="Email Waiting List Report">
                    Email Waiting List Report
                </button>
            </div>
        </form>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <button 
                    id="export_mooring" 
                    type="submit" 
                    name="export_model" 
                    value="mooring" 
                    title="Email Moorings Report">
                    Email Moorings Report
                </button>
            </div>
        </form>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <button 
                    id="export_dcv_permit" 
                    type="submit" 
                    name="export_model" 
                    value="dcv_permit" 
                    title="Email DCV Permits Report">
                    Email DCV Permits Report
                </button>
            </div>
        </form>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <button 
                    id="export_dcv_admission" 
                    type="submit" 
                    name="export_model" 
                    value="dcv_admission" 
                    title="Email DCV Admissions Report">
                    Email DCV Admissions Report
                </button>
            </div>
        </form>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <button 
                    id="export_sticker" 
                    type="submit" 
                    name="export_model" 
                    value="sticker" 
                    title="Email Stickers Report">
                    Email Stickers Report
                </button>
            </div>
        </form>
    </div>
{% endblock %}

