{% extends 'mooringlicensing/base.html' %}

{% block content %}
    <style>
        .debug-box {
            margin: 0 0 0 3em;
            background: lightgray;
            padding: 0.5em;
        }
        .row {
            margin: 0 0 1em 0;
        }
    </style>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <button 
                    id="export_proposal" 
                    type="submit" 
                    name="export_model" 
                    value="proposal" 
                    title="Export Proposals">
                    Export Proposals
                </button>
            </div>
        </form>
    </div>
{% endblock %}

