{% extends 'mooringlicensing/base.html' %}

{% block content %}
    <style>
        .debug-box {
            margin: 0 0 0 3em;
            background: lightgray;
            padding: 0.5em;
        }
        .row {
            margin: 0 0 1em 0;
        }
    </style>
    <div class="container">
        <H4>Hover over button to see help text.</H4>
        <form action="" method="POST">
            {% csrf_token %}
            {% if debug %}
                <input type="hidden" name="debug" value="true" />
            {% endif %}

            <div class="row">
                <button type="submit" name="script" value="import_mooring_bookings_data" {% if import_mooring_bookings_data == 'true' %}style="color:green" {% endif %} title="Import Mooring Bookings data">Run Script 'import_mooring_bookings_data'</button>
            </div>

            <div class="row">
                <button type="submit" name="script" value="export_and_email_sticker_data" {% if export_and_email_sticker_data == 'true' %}style="color:green" {% endif %} title="Export and Send Sticker data">Run Script 'export_and_email_sticker_data'</button>
                {% if debug %}
                    <div class="debug-box">
                        <span>Issue AAP/AUP/ML and click the button above</span>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <button type="submit" name="script" value="reset_waiting_list_allocations" {% if reset_waiting_list_allocations == 'true' %}style="color:green" {% endif %} title="Reset Waiting List Allocations">Run Script 'reset_waiting_list_allocations'</button>
            </div>

            <div class="row">
                <button type="submit" name="script" value="expire_approvals" {% if expire_approvals == 'true' %}style="color:green" {% endif %} title="Expire Approvals">Run Script 'expire_approvals'</button>
                {% if debug %}
                    <div class="debug-box">
                        <div><span>Enter the approval lodgement number and click the button above</span></div>
                            <div>
                                Approval lodgement number to expire: <input type="text" name="expire_approvals_lodgement_number" />
                            </div>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <button type="submit" name="script" value="update_approval_status" {% if update_approval_status == 'true' %}style="color:green" {% endif %} title="Update Approval Status">Run Script 'update_approval_status'</button>
<!--                {% if debug %}-->
<!--                    <div class="debug-box">-->
<!--                        <div><span>Enter the approval ID and click the button above</span></div>-->
<!--                        <div>-->
<!--                            Approval ID to update: <input type="text" name="update_approval_status_id" />-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {% endif %}-->
            </div>

            <div class="row">
                <button type="submit" name="script" value="update_compliance_status" {% if update_compliance_status == 'true' %}style="color:green" {% endif %} title="Update Compliance Status">Run Script 'update_compliance_status'</button>
            </div>

            <div class="row">
                <button type="submit" name="script" value="send_compliance_reminder" {% if send_compliance_reminder == 'true' %}style="color:green" {% endif %} title="Send Compliance Reminder">Run Script 'send_compliance_reminder'</button>
            </div>

            <div class="row">
                <button type="submit" name="script" value="send_endorser_reminder" {% if send_endorser_reminder == 'true' %}style="color:green" {% endif %} title="Send Endorsement Reminder">Run Script 'send_endorser_reminder'</button>
                {% if debug %}
                    <div class="debug-box">
                        <div><span>Enter the proposal ID and click the button above</span></div>
                        <div>
                            Proposal ID to send reminder: <input type="text" name="send_endorser_reminder_id" />
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <button type="submit" name="script" value="send_vessel_nominate_reminder" {% if send_vessel_nominate_reminder == 'true' %}style="color:green" {% endif %} title="Send Endorsement Reminder">Run Script 'send_vessel_nominate_reminder'</button>
                {% if debug %}
                <div class="debug-box">
                    <div><span>Enter the lodgement number and click the button above</span></div>
                    <div>
                        Approval lodgement number to send reminder: <input type="text" name="send_vessel_nominate_reminder_lodgement_number" />
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row">
                <button type="submit" name="script" value="expire_mooring_licence_application_due_to_no_documents" {% if expire_mooring_licence_application_due_to_no_documents == 'true' %}style="color:green" {% endif %} title="Expire Mooring Licence Application if documents not submitted">Run Script 'expire_mooring_licence_application_due_to_no_documents'</button>
                {% if debug %}
                <div class="debug-box">
                    <div><span>Enter the lodgement number and click the button above</span></div>
                    <div>
                        MLApplication lodgement number to expire: <input type="text" name="expire_mooring_licence_application_due_to_no_documents_lodgement_number" />
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row">
                <button type="submit" name="script" value="expire_mooring_licence_application_due_to_no_submit" {% if expire_mooring_licence_application_due_to_no_submit == 'true' %}style="color:green" {% endif %} title="Expire Mooring Licence Application if documents not submitted">Run Script 'expire_mooring_licence_application_due_to_no_submit'</button>
                {% if debug %}
                <div class="debug-box">
                    <div><span>Enter the lodgement number and click the button above</span></div>
                    <div>
                        MLApplication lodgement number to expire: <input type="text" name="expire_mooring_licence_application_due_to_no_submit_lodgement_number" />
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row">
                <button type="submit" name="script" value="approval_renewal_notices" {% if approval_renewal_notices == 'true' %}style="color:green" {% endif %} title="Send Approval Renewal Notices">Run Script 'approval_renewal_notices'</button>
            </div>

            <div class="row">
                <button type="submit" name="script" value="send_waiting_list_application_submit_due_reminder" {% if send_waiting_list_application_submit_due_reminder == 'true' %}style="color:green" {% endif %} title="Send Waiting List Application Submit Due Reminder">Run Script 'send_waiting_list_application_submit_due_reminder'</button>
            </div>
        </form>
        <br>
    </div>
    <br />
    {{ ret }}
    {{ block.super }}
{% endblock %}

