{% extends 'mooringlicensing/base.html' %}

{% block content %}
    <div>
        <H4>Hover over button to see help text.</H4>
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" name="script" value="import_mooring_bookings_data" {% if import_mooring_bookings_data == 'true' %}style="color:green" {% endif %} title="Import Mooring Bookings data">Run Script 'import_mooring_bookings_data'</button><br><br>
        </form>
        <br>
    </div>
    <br />
    {{ ret }}
    {{ block.super }}
{% endblock %}

