.topmast {
    height: 115px;
    padding-top: 0px;
    background: #3580ca url(/static/mooring/img/top-bg-grasses.gif) repeat-x center bottom;
}

.topmast-rottnest {
    padding-top: 0px;
    background: #ffffff;
}

@media (max-width: 992px) {
    .ps-banner h1 {
        display: none;
    }
}

.ps-banner h1 {
    margin-top: 15px;
    font-size: 50px;
    color: #fcb13f;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.right-buffer {
    margin-right: 20px;
}

.ps-breadcrumbs {
    background-color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.popover {
    max-width: 100%;
}

.login-success-bg-body {
    z-index:3; 
    background-image: url('/static/mooringlicensing/img/ria-bg.jpg'); 
    height:100%; 
    width: 100%; 
    position: absolute; 
    background-size: 100%; 
    background-repeat:no-repeat;
}

.login-success-bg-body-container {
    z-index:1; 
    margin-top:20%;
}

.login-success-message-box {
    background-color: #FFFFFF; 
    border: 1px solid #FFFFFF; 
    padding-bottom: 30px;
}
.login-success-message-icon {
    position: absolute; 
    margin-top: -30px; 
    width:92%; 
}