{% extends 'mooringlicensing/base.html' %}
{% load static %}
{% load users %}
{% block extra_css %}
{% endblock %}
{% block extra_js %}
    {{super}}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}

    {% if notices_obj.notices|length > 0 and notices_obj.page == "dashboard" %}
    {% include "mooringlicensing/notification.html" %}
    {% endif %}
    <div class="container-fluid" id="dashboard-table-container">
        {% block vue-component %}
        <div id="app"></div>
        {% endblock %}
        {% if notices_obj.notices|length > 0 and notices_obj.page != "dashboard" %}
        {% include "mooringlicensing/notification.html" %}
        {% endif %}
    </br></br></br>
    </div>
    
{% endblock %}
