<li class="dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">
        Commercial Vessels
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="/external/dcv_admission">DCV Admission</a></li>
    </ul>
</li>

<script>
    var payment_processing = 
    {
       var: { checkouthash: "{{ checkouthash }}"}
    }

    function createCookie(name, value, days) {
        var expires;
    
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/;secure";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
 
    createCookie('checkouthash', "{{ checkouthash }}");

    if (window.location.href.indexOf("payment-details") != -1) {
        setInterval(function() {
            createCookie(document.getElementById('payment-csrfmiddlewaretoken').value, "{{ checkouthash }}");
            var checkouthash_cookie = readCookie("checkouthash");
            if (payment_processing.var.checkouthash != checkouthash_cookie) {
                if ("{{is_internal_login}}" == "True") {
                    window.location = "/internal"
                } else {
                    window.location = "/external"
                }
            }		
        },"500");
    }
</script>