{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
    <p>Please be aware that your {{ proposal.child_obj.description }}: {{ proposal.lodgement_number }} expired on {{ proposal.payment_due_date }} due to payment not being made</p>
    <p>To apply for a new {{ proposal.child_obj.description }} please click <a href="{{url}}">here</a></p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{%  endblock %}
