{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
<p>Your amendment application {{ proposal.lodgement_number }} for mooring site licence {{ approval.lodgement_number }} has been conditionally approved pending payment of your fees. Please see attached document for more details.</p>
{% if stickers_to_be_returned|length > 0 %}
<p>If you have been issued a new sticker, you are required to return your old sticker
    {% for sticker in stickers_to_be_returned %}
    {{ sticker.number }}{% if forloop.last %}{% else %},{% endif %}
    {% endfor %}
to the Rottnest Island Authority and the new sticker for your vessel will be mailed to you in the coming days.</p>
{% endif %}
<p>Entry to the Reserve and access to the Shared Mooring System (including use of your own mooring site) is NOT approved until your current sticker is clearly displayed on the port side of your vessel. Penalties apply.</p>
<p>Please click <a href="{{ payment_url }}">here</a> to pay the fees for your mooring site licence.</p>
<p>Payment is due by {{proposal.payment_due_date}}.</p>
{% if details %}<p>Details: {{ details }}</p>{% endif %}
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
