{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
<p>Dear {{ endorser.first_name }} {{ endorser.last_name}},</p>

<p>Your endorsement for authorised use of your mooring site {{ mooring_name }} by {{ applicant.first_name }} {{ applicant.last_name}} with vessel {{vessel_rego_no}} is due by {{ due_date }}. </p>
<p>Please click <a href="{{ dashboard_external_url }}">here</a> to login and check the endorsement section on the dashboard.</p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
