{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
<p>The offer to apply for a mooring site licence has not been submitted within the provided timeframe and, as per previous reminder stated, the offer has now lapsed.</p>
<p>As per the Rottnest Island Regulations 1988, your name has been removed from the waiting list and the offer will be made to the next eligible waitlisted person.</p>
<p>You may make a new application to be placed on a mooring site licence waiting list at any time. Your position on that waiting list will be determined by the date of your new application.</p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
