{%  extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{%  block content_body %}
<p>Dear {{ endorser.first_name }} {{ endorser.last_name}},</p>
<p>{{ applicant.first_name }} {{ applicant.last_name}} has submitted an application for authorised use of your mooring site {{ mooring_name }}. Your endorsement of this application is due by {{ due_date }}.
<ul>
    <li>Please click <a href="{{ endorse_url }}">here</a> if you want to endorse the application.</li>
    <li>Please click <a href="{{ decline_url }}">here</a> if you want to decline the application.</li>
    <li>Please click <a href="{{ proposal_url }}">here</a> if you want to view the application details before endorsing or declining.</li>
</ul>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
