{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
<p>Your authorised user permit application {{ proposal.lodgement_number }} has been conditionally approved pending payment of your fees. Please see attached invoice for more details.</p>
<p>The sticker(s) for your vessel will be mailed to you once payment has been made. Please click <a href="{{ payment_url }}">here</a> to pay the fees for your authorised user permit.</p>
<p>Vessel stickers remain the property of RIA and must be returned or surrendered upon request, or prior to the sale or disposal of your vessel. Penalties apply.</p>
<p>Entry to the Reserve, access to the Shared Mooring System (SMS), and authorised use of mooring sites, is NOT approved until your current sticker is clearly displayed on the port side of your vessel. Penalties apply.</p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
