{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails/salutation.html" %}
<p>Thank you for recording the date of sale for vessel {{ vessel_rego_no }}.</p>
<p>This vessel has now been removed from your mooring site licence, and in accordance with the Rottnest Island Regulations 1988 you are hereby authorised six months from the date of sale or disoposal to nominate a new suitable vessel.</p>
<p>If you have not already done so, you are required to return all associated vessel sticker(s)
    {% for sticker in stickers_to_be_returned %}
    {{ sticker.number }}{% if forloop.last %}{% else %},{% endif %}
    {% endfor %}
to the Rottnest Island Authority. Failure to return stickers to RIA upon request, or prior to the sale or disposal of your vessel, can result in the relinquishment of your mooring site licence. Once relinquished, a mooring site licence can not be re-instated.</p>
<p>To remain eligible to hold your {{ approval.description }} {{ approval.lodgement_number }} you must nominate a new suitable vessel prior to {{ due_date }}. This can be done by lodging an application to amend your {{ approval.description }} {{ approval.lodgement_number }}.</p>
<p>The Regulations state that a suitable vessel means a vessel that:
    <ul>
    <li>has a length of at least 6.4 metres;</li>
    <li>is a sailing vessel or has its own form of self propulsion capable of achieving a speed of 5 knots, and;</li>
    <li>has adequate insurance cover.</li>
    </ul>
</p>
<p>You:
    <ul>
    <li>must be named as a registered owner on the certificate of registration issued by the Deparment of Transport for the vesel you nominate, and;</li>
    <li>own 25% or more of its net worth.</li>
    </ul>
</p>
<p>The vessel:
    <ul>
    <li>must not already be nominated as a licensed vessel or an additional vessel for any other mooring site, or</li>
    <li>a vessel nominated under any application recorded on a waiting list, and</li>
    <li>the vessel must not already be associated with any other Rottnest Island Boating annual admission or authorised user permit in a co-owner's name.</li>
    </ul>
</p>
<p>Please click <a href="{{ dashboard_external_url }}">here</a> to log in to your account.</p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}

