{%  extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{%  block content_body %}
{% include "mooringlicensing/emails/salutation.html" %}
{% if decision == 'approved' %}
<p>Your waiting list allocation application {{ approval.lodgement_number }} has been approved. Please see your waitlist confirmation attached.</p>
{% endif %}
{% if decision == 'declined' %}
<p>Your waiting list allocation application {{ approval.lodgement_number }} has been declined.</p>
{% endif %}
{% if details %}<p>Details: {{ details }}</p>{% endif %}
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
