{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
<p>Your {{ approval.description }} {{ approval.lodgement_number }} for vessel {{ vessel_rego_no }} is due for renewal by {{ expiry_date }}.</p>
<p>Please click <a href="{{ dashboard_external_url }}">here</a> to log in to the online system to submit your renewal application.</p>
<p>If you do not submit an application to renew prior to {{ expiry_date }} your {{ approval.description }} {{ approval.lodgement_number }} will expire. Once expired, you will no longer be able to make an application to renew and your {{ approval.description }} {{ approval.lodgement_number }} will be automatically cancelled. This action cannot be reversed, and once cancelled your {{ approval.description }} {{ approval.lodgement_number }} cannot be re-instated.</p>
<p>This is your first and final notice and no reminders will be provided if a renewal application has not been submitted by you prior to {{ expiry_date }}.</p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
