{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails/salutation.html" %}
<p>Please be advised that the licensee of mooring site {{ mooring.name }} has recently swapped their mooring site licence with another licensee in the same bay, as allowed under the Rottnest Island Regulations 1988.</p>
<p>This means that effective immediately all authorised users of {{ mooring.name }} have now been removed.</p>
<p>You are now notified to return authorised user sticker(s) {{ sticker.number }} to the Rottnest Island Authority.</p>
<p>Please click <a href="{{ dashboard_external_url }}">here</a> if you wish to make an amendment application for an authorised user site to be endorsed by a mooring site licensee known to you.</p>
<p>If you are left without any authorised user sites, and you do not hold a mooring site license in your name, click <a href="{{ dashboard_external_url }}">here</a> to make an amendment application for an authorised user site to be allocated by RIA.</p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}




