{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
<p>Your application {{ proposal.lodgement_number }} to amend your authorised user permit has been conditionally approved pending payment of your fees. Please see attached invoice for more details.</p>
{% if stickers_to_be_returned|length > 0 %}
<p>If you have not already done so, you are required to return your old sticker
    {% for sticker in stickers_to_be_returned %}
    {{ sticker.number }}{% if forloop.last %}{% else %},{% endif %}
    {% endfor %}
to the Rottnest Island Authority. Failure to return or surrender stickers to RIA upon request, or prior to the sale or disposal of your vessel, can result in the cancellation of your authorised user permit. Once revoked, authorised user permits and mooring site authorisations cannot be re-instated.</p>
{% endif %}
<p>The new sticker for your vessel will be mailed to you in the coming days.</p>
<p>Entry to the Reserve and access to the Shared Mooring System (SMS) is NOT approved until your current sticker is clearly displayed on the port side of your vessel. Penalties apply.</p>
<p>Please click <a href="{{ payment_url }}">here</a> to pay the fees for your authorised user permit.</p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
