{%  extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{%  block content_body %}
{% include "mooringlicensing/emails/salutation.html" %}
<p>Please be advised that the mooring site licence for {{ mooring.name }} has now been relinquished.
<p>As per the Rottnest Island Regulations 1988 all authorised users of {{ mooring.name }} have now been removed, effective immediately.</p>
<p>You are now notified to return authorised user sticker(s)
    {% for sticker in stickers_to_be_returned %}
    {{ sticker.number }}{% if forloop.last %}{% else %},{% endif %}
    {% endfor %}
to the Rottnest Island Authority.</p>
<p>Please click <a href="{{ dashboard_external_url }}">here</a> if you wish to make an amendment application for an authorised user site to be endorsed by a mooring site licensee known to you.</p>
<p>If you are left without any authorised user sites, and you do not hold a mooring site license in your name, click here to make an amendment application for an authorised user site to be allocated by RIA.</p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
