{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
<p>Your application {{ proposal.lodgement_number }} for a mooring site licence has been conditionally approved pending payment of fees. Please refer to the attached invoice for details. </p>
<p>Once payment has been received, the sticker for your vessel will be mailed to you. Entry to the Rottnest Marine Reserve, access to the Shared Mooring System, and use of your own mooring site is approved once your current sticker is clearly displayed on the port side of your vessel.</p>
<p>Remember that vessel stickers remain the property of RIA and must all be returned prior to the sale or disposal of your vessel, and surrendered upon request, and penalties apply.</p>
<p>Please <a href="{{ payment_url }}">click here to pay the fees</a> for your mooring site licence from your dashboard in the portal.</p>
<p>Payment is due by {{proposal.payment_due_date}}.</p>
{% if details %}<p>Details: {{ details }}</p>{% endif %}
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
