{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
<p>Please be advised that the mooring site licence for {{ mooring.name }} has now been relinquished.</p>
<p>As per the Rottnest Island Regulations 1988 all authorised users of {{ mooring.name }} have now been removed, effective immediately.</p>
<p>You are now notified to return authorised user sticker(s)
    {% for sticker in stickers_to_be_returned %}
    {{ sticker.number }}{% if forloop.last %}{% else %},{% endif %}
    {% endfor %}
to the Rottnest Island Authority.</p>
<p>A replacement sticker(s) will be posted to you in the coming days.</p>
<p>If you are left without any authorised user sites, click <a href="{{ dashboard_external_url }}">here</a> to make an amendment application for either:</p>
<p>
<ul>
    <li>a) an authorised user site to be endorsed by another mooring site licensee known to you.</li>
    <li>b) an authorised user site to be allocated by RIA (i.e. if you do not hold a mooring site licence in your name).</li>
</ul>
</p>
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
