{% extends 'mooringlicensing/emails/base_email-rottnest.html' %}

{% block content_body %}
{% include "mooringlicensing/emails_2/salutation.html" %}
<p>Your application {{ proposal.lodgement_number }} for mooring site licence {{ approval.lodgement_number }} has been conditionally approved pending payment of your fees. Please see attached invoice for more details.</p>
<p>Once payment has been received the sticker(s) for your vessel(s) will be mailed to you.</p>
<p>Entry to the Reserve and access to the Shared Mooring System (including use of your own mooring site) is NOT approved until your current sticker is clearly displayed on the port side of your vessel. Penalties apply.</p>
<p>Vessel stickers remain the property of RIA and must be returned or surrendered upon request, or prior to the sale or disposal of your vessel. Penalties apply.</p>
<p>Please click <a href="{{ payment_url }}">here</a> to pay the fees for your mooring site licence.</p>
<!--{% if details %}<p>Details: {{ details }}</p>{% endif %}-->
{% include "mooringlicensing/emails/signature-rottnest.html" %}
{% endblock %}
